@use "./variables" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1rem;
}

p,
span {
  color: $secondary;
}

.ms_big_container {
  width: 90%;
  margin: auto;
}

.ms_medium_container {
  width: 70%;
  margin: auto;
}
