@use "./variables" as *;

.text_darkless {
  color: $darkless;
}
.text_dark {
  color: $dark;
}
.text_light {
  color: $light;
}
.text_lighter {
  color: $lighter;
}
.text_primary {
  color: $primary;
}
.text_secondary {
  color: $secondary;
}

.bg_darkless {
  background-color: $darkless;
}
.bg_dark {
  background-color: $dark;
}
.bg_light {
  background-color: $light;
}
.bg_lighter {
  background-color: $lighter;
}
.bg_primary {
  background-color: $primary;
}
.bg_secondary {
  background-color: $secondary;
}

.spacer {
  border-top: 2px solid $primary;
  margin-top: 1rem;
  width: 100px;
}

.fs_08 {
  font-size: 0.8rem;
}

.hv_centering {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
